[Unit]
Description=Loads xinput calibration data
ConditionPathExists=/etc/pointercal.xinput
Requires=lxdm.service
After=lxdm.service

[Service]
ExecStart=/usr/bin/xinput_calibrator_once.sh

[Install]
WantedBy=multi-user.target
